*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.2),red),url(FB_IMG_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width: 150px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: red;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}#menuBtn{
    width: 10px;
    height: 10px;
    background: gray;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 30px;
    margin-top: 25px;
    border-radius: 10px;
}
@media screen and(max-width:770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: brown;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(red,#fff);
    position: absolute;
    top: -20px; 
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px; 
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    background: linear-gradient(rgba(0,0,0,0.1),wheat),url(banner.jpg);
    flex-basis: 50%;
    height: 500px;
    width: 50px;
    border-radius: 10px;   
}
/*.features-img img{
    width: 70%;
    border-radius: 10px;
}*/
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: black;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
#service{
    width: 100%;
    padding: 70px 0;
    background: whitesmoke;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: black;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),red);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom:-20;
    left: 50%;
    transform: translateX(-50%);
    transition: 2s;
   
}
hr{
    background: #fff;
    height: 1px;
    border: 0;
    margin: 15px auto;
    width: 60%;
    opacity: 0;
    transition: 0.5s;
}
.service-desc h3{
    font-size: 30px;
}
.service-desc p{
    font-size: 15px;
    transition: 1s;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: 1s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
} 
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(7px);
}
#footer{
    padding: 100px 0 20px;
    background: #efefef;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}